body {
    font-family: 'Noto Sans TC', sans-serif;
}

.container :first-child div {
    height: 350px;
}

    .container :first-child div div {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        z-index: 1;
    }

    .container :first-child div:hover div {
        visibility: visible;
        opacity: 1;
        transition: .3s;
        z-index: 1;
    }

    .container :first-child div img {
        -webkit-filter: brightness(100%);
        transition: .3s;
    }

    .container :first-child div:hover img {
        -webkit-filter: brightness(60%);
        transition: .3s;
    }

.container :first-child :hover i {
    opacity: .3;
    transition: .3s;
}

.container :first-child i {
    opacity: 1;
    transition: .3s;
}

img {
    object-fit: cover;
}
