body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #fafafa;
    color: #5C5858;
}

.bg1 {
    background-color: #E5E4E2;
}

.bg2 {
    background-color: #fafafa;
}

.c1 {
    color: #B6B6B4;
}
.c2 {
    color: #5C5858;
}

i {
    cursor: pointer;
}

#titleinput {
    outline: none;
    transition: .2s;
    pointer-events: none;
    background-color: #fafafa;
}

    #titleinput:focus {
        background-color: #E5E4E2;
    }

#contentinput {
    resize: none;
    outline: none;
}

    #contentinput:focus {
        background-color: #fafafa;
    }

.checkmao:hover {
    opacity: .6;
}

.checkmax:hover {
    opacity: .6;
}
.checkmoney:hover {
    opacity: .6;
}

label {
    cursor: pointer;
}

input {
    outline: none;
}

select{
    outline:none;
}

#pagelist li a:hover {
    background-color: #B6B6B4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


#manufacturerreport ul li a:active {
    background-color: #B6B6B4;
}

#areaedit ul li a:active {
    background-color: #B6B6B4;
}
