body {
    font-family: 'Noto Sans TC', sans-serif;
}

.ecard {
    height: 350px;
}

.ecard div {
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    z-index: 1;
}

.ecard:hover div {
    visibility: visible;
    opacity: 1;
    transition: .3s;
    z-index: 1;
}

.ecard img {
    -webkit-filter: brightness(100%);
    transition: .3s;
}

.ecard:hover img {
    -webkit-filter: brightness(60%);
    transition: .3s;
}

.container :first-child :hover i {
    opacity: .3;
    transition: .3s;
}

.container :first-child i {
    opacity: 1;
    transition: .3s;
}

img {
    object-fit: cover;
}

input{
    outline:none;
}
