
    <nav class="navbar-manufacture">
        <a class="navbar-brand navbar-text-color-manufacture" asp-controller="Manufacturer" asp-action="index">Woo</a>
        <div class="nav-link d-flex">
            <a class="navbar-text-color-manufacture nav-link" asp-action="Policy" asp-controller="Manufacturer" >
                <div class="text-center h5 p-0 m-0 mt-1"><i class="fa-solid fa-file-pen " ></i></div>
                <div class="text-center">
                    申請規範
                </div>
            </a>
            <a class="navbar-text-color-manufacture nav-link" asp-action="ApplyStand" asp-controller="Manufacturer">
                <div class="text-center h5 p-0 m-0 mt-1"><i class="fa-solid fa-file-pen"></i></div>
                <div class="text-center">
                    申請展覽
                </div>
            </a>
            <a class="navbar-text-color-manufacture nav-link" asp-action="" asp-controller="Manufacturer">
                <div class="text-center h5 p-0 m-0 mt-1"><i class="fa-solid fa-file-pen"></i></div>
                <div class="text-center">
                    申請流程
                </div>
            </a>
            <a class="navbar-text-color-manufacture nav-link" href="＃">
               <div class="text-center h4 p-0 m-0 mt-1"> <i class="fa-solid fa-id-card-clip"></i></div>
            </a>
                        <a class="navbar-text-color-manufacture nav-link" href="＃">
               <div class="text-center h4 p-0 m-0 mt-1"> <i class="fa-solid fa-arrow-right-from-bracket"></i></div>
            </a>
        </div>
    </nav>