@using Fairy_project.ViewModels;

@section Style{
    <link rel="stylesheet" href="~/css/GroupA.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/slick-carousel/slick.css" asp-append-version="true" />
}

    <partial name="_MNavbarView" />
    <div class="container bg-c-c">
        <div class="row mt-3">
            <div class="m-3">
                <canvas id="canvasZone">
                </canvas>
            </div>
        </div>
        @*展區選擇*@
        <div class="row tab">
            <div class="w-75">
                <ul class="tab-title d-flex ">
                    <li><a class="btn zonebtn " role="button" href="#aZone">A區</a></li>
                    <li><a class="btn zonebtn " role="button" href="#bZone">B區</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="m-3">
                <canvas id="canvasName">
                </canvas>
            </div>
        </div>
        @*aZone*@
        <div class="row show-list" id="aZone">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <button id="btn-prev" class="prev" type="button">
                    <i class="fa-solid fa-angle-left fa-4x"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
            </div>
            <div class="col-8 p-0 d-flex show-wrap">

                <ul class="m-0 align-items-center d-flex justify-content-start w-100 ultrain" id="train" role="tablist">
                    <li class="showName">

                    </li>
                </ul>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <button id="btn-next" class="next" type="button">
                    <i class="fa-solid fa-angle-right fa-4x"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        @*bZone*@
        <div id="bZone" class="row show-list">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <button id="btn-prev" class="prev" type="button">
                    <i class="fa-solid fa-angle-left fa-4x"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
            </div>
            <div class="col-8 p-0 d-flex show-wrap">

                <ul class="m-0 align-items-center d-flex justify-content-start w-100 ultrain" id="train" role="tablist">
                </ul>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <button id="btn-next" class="next" type="button">
                    <i class="fa-solid fa-angle-right fa-4x"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="m-3">
                <canvas id="canvasSize">
                </canvas>
            </div>
        </div>
        @*攤位大小*@
        <div class="row">
            <ul class="d-flex justify-content-center size-title">

                <li class="col-3">
                </li>
                <li class="col-2"><a role="button" href="#big" id="btnBoothB" class="btn btnBoothLv">大型</a></li>
                <li class="col-2"><a role="button" href="#middle" id="btnBoothM" class="btn btnBoothLv">中型</a></li>
                <li class="col-2"><a role="button" href="#small" id="btnBoothS" class="btn btnBoothLv">小型</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="m-3">
                <canvas id="canvasNum">
                </canvas>
            </div>
        </div>
        <div class="row booth-list visually-hidden" id="big">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <button id="btn-prev" class="showPrev" type="button">
                    <i class="fa-solid fa-angle-left fa-4x"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
            </div>
            <div class="col-8 p-0 d-flex show-wrap">
                <ul class="m-0 align-items-center d-flex justify-content-start w-100 booth" id="boothtrain" role="tablist">
                </ul>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <button id="btn-next" class="showNext" type="button">
                    <i class="fa-solid fa-angle-right fa-4x"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row booth-list" id="middle">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <button id="btn-prev" class="showPrev" type="button">
                    <i class="fa-solid fa-angle-left fa-4x"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
            </div>
            <div class="col-8 p-0 d-flex show-wrap">
                <ul class="m-0 align-items-center d-flex justify-content-start w-100 booth" id="boothtrain" role="tablist">
                </ul>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <button id="btn-next" class="showNext" type="button">
                    <i class="fa-solid fa-angle-right fa-4x"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row booth-list" id="small">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <button id="btn-prev" class="showPrev" type="button">
                    <i class="fa-solid fa-angle-left fa-4x"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
            </div>
            <div class="col-8 p-0 d-flex show-wrap">
                <ul class="m-0 align-items-center d-flex justify-content-start w-100 booth" id="boothtrain" role="tablist">
                </ul>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <button id="btn-next" class="showNext" type="button">
                    <i class="fa-solid fa-angle-right fa-4x"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        <div class="row"></div>
        <div class="row"></div>
        <div class="row ">
            <div class="m-3">
                <canvas id="canvasDtl">
                </canvas>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="bg-c-Dtl">
            </div>
        </div>
        <div class="row">
            <div class="m-3">
                <canvas id="canvasPrc">
                </canvas>
            </div>
        </div>
        <div class="row justify-content-center">
            <button class="btn-size">申請此攤位</button>
        </div>
    </div>
                

    <partial name="_MFooterView" />
    @section Scripts{
    <script src="~/lib/slick-carousel/slick.min.js" asp-append-version="true"></script>
    <script src="~/js/manufacture.js" asp-append-version="true"></script>
    <script>
        let exhibition = new Array();
        let exhibitionObj = new Object();
        axios.get('@Url.Action("getAllExhibition")')
            .then(res => exhibition = res.data)
            .then(res => showExhibitName(exhibition))
            .catch(err => console.log(err));
        function showExhibitName(exhibition) {
            let aZone = $("#aZone");
            let bZone = $("#bZone");
            for (let i = 0; i < exhibition.length; i++) {

                if (exhibition[i].areaNum == 1) {
                    $(aZone).find("#train").append(`<li class="showName"> <button data-id="${exhibition[i].exhibitId}" class="btn btn-woo btn-sm">
                                                                                                                                                                    ${exhibition[i].exhibitName}
                                                                                                                                                                                </button> </li>`)
                }
                if (exhibition[i].areaNum == 2) {
                    $(bZone).find("#train").append(`<li class="showName"> <button data-id="${exhibition[i].exhibitId}" class="btn btn-woo btn-sm">
                                                                                                                                                                                  ${exhibition[i].exhibitName}
                                                                                                                                                                                </button> </li>`)
                }
            }
        }
        let id;
        $(".ultrain").click((e) => {
            let data = [];
            if ($(e.target).hasClass("btn-woo")) {
                id = $(e.target).data('id')
                console.log(id);
                axios.post('@Url.Action("GetAllBooth")', { "Ex_id": id })
                    .then(res => data = res.data)
                    .then(res => chooseLv(data))
                    .catch(err => console.log(err));
            }
        })
        let boothdata = [];
        let btnLv = $(".btnBoothLv")
        function chooseLv(data) {
            boothdata = data
            return boothdata;
        }
        btnLv.click((e) => {
            let id = $(e.target).attr("id");
            console.log(id);
            for (let i = 0; i < boothdata.length; i++) {
                if (id == "btnBoothB" && boothdata[i]['boothLv'] == 3) {
                    console.log("大" + boothdata[i]['boothNumber'])
                    $(`#${id}`).find(".booth").append(`${boothdata[i]['boothNumber']}`)
                } else if (id == "btnBoothM" && boothdata[i]['boothLv'] == 2) {
                    console.log("中" + boothdata[i]['boothNumber'])
                    $(`#${id}`).find(".booth").append(`${boothdata[i]['boothNumber']}`)
                } else if (id == "btnBoothS" && boothdata[i]['boothLv'] == 1) {
                    console.log("小" + boothdata[i]['boothNumber'])
                    $(`#${id}`).find(".booth").append(`${boothdata[i]['boothNumber']}`)
                }
            }
        })

    </script>
    }
