@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
 @{
    Layout ="_Layout_manuf";
    
}

@section Style{

    <link rel="stylesheet" href="~/css/GroupA.css" asp-append-version="true" />

}


    @* <partial name="_MNavbarView" />*@

    <h2 style="text-align:center;margin-top:140px">申請規範</h2>

    <div class="container bg1 pt-3" style="margin-top:1%">

        <div style="text-align:center;"><h5>法律規定</h5></div>

        <hr style="border-top:1px solid #D9B3B3;width:60%" />
      
        
        <div class="d-flex justify-content-center" style="color:#757575">
            <dl class="row container-Policy p-3">
                <dt class="col-sm-2" style="text-align:center;">第1條</dt>
                <dd class="col-sm-10" style="text-align:left;">為規範商品之展覽，特訂定本辦法。</dd>

                <dt class="col-sm-2" style="text-align:center;">第2條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    凡在中華民國舉辦商展者，應依本辦法之規定辦理，本辦法未規定者，依
                    其他法令之規定。
                </dd>

                <dt class="col-sm-2" style="text-align:center;">第3條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    本辦法之主管機關，在中央為經濟部；在直轄市為建設局；在縣 (市) 為
                    縣 (市) 政府。
                </dd>

                <dt class="col-sm-2" style="text-align:center;">第4條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    本辦法所稱商展，係指有關農、礦、工、商各項商品或其資料之展覽。
                </dd>

                <dt class="col-sm-2" style="text-align:center;">第5條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    商展之主辦單位，除我國政府機關外，以合於左列規定之一者為限：
                    一、實收資本額合計達新台幣三千萬元以上之營利事業。
                    二、依工業團體法、商業團體法成立之法人。
                    三、依農會法、漁會法、合作社法成立之農民團體。
                    四、經政府許可設立，以商品之展覽與推廣為目的之公益法人。
                    五、外國政府機關、外國駐華使領館或代表處，依據外國法令成立之法人
                </dd>

                <dt class="col-sm-2" style="text-align:center;">第6條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    商展之主辦單位，應於展覽開始籌備前備具申請書及左列書件向展出地之
                    直轄市或縣 (市) 主管機關申請核准：
                    一、以前條第一款之營利事業為主辦單位者，應檢附公司執照、營利事業
                    登記證及最近一年之營業稅繳納收據影本或其他業績證明文件。
                    二、以前條第二款之工商業團體或第三款之農民團體為主辦單位者，應檢
                    附許可設立文件之影本。
                    三、以前條第五款之外國法人為主辦單位者，應檢附其設立及業務證明文
                    件影本，並經我駐外使領館或政府駐外代表機關驗證。
                    四、科學工業園區域或加工出口區廠商，在區外舉辦商展者，應檢附各該
                    管理局 (處) 同意文件。
                    五、使用他人土地或建築物為展場者，應檢附使用同意書。
                    第一項第三款所附之證明文件如為外文者，應附中文譯本。
                    展出係委託代理人辦理者，應加具代理之委託書，代理人並須符合前條第
                    一款規定。
                    商展經核准舉辦後，主辦單位如欲變更展出計畫，應報請原核准機關同意
                    。
                    前條第四款之公益法人，其章程訂明經常舉辦商展者，得經展出地主管機
                    關專案核准後，免依第一項規定提出申請，但應檢附許可設立文件影本並
                    將年度展出計畫報請展出地主管機關核備。
                    申請書格式由中央主管機關定之。
                </dd>

                <dt class="col-sm-2" style="text-align:center;">第7條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    主管機關對於商展之申請，得邀集有關機關共同審核；除認為不符合國家
                    經濟發展效益及公共政策者外，應予核准。
                    前項核准文件副本應抄送各有關警政、交通、建設、環保、衛生、稅捐、
                    關務、工務、社政、農政等機關及展出場地之所有權人或管理人。
                </dd>

                <dt class="col-sm-2" style="text-align:center;">第8條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    大陸地區物品除得於臺灣地區舉辦之國際商展中展覽外，不得在一般商展
                    場所展售，違者得隨時勒令中止商展之進行，並依法處理該項展品。
                </dd>


                <dt class="col-sm-2" style="text-align:center;">第9條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    商展應以商品之展示為主，設有零售攤位者，其零售區應與展示區分開，
                    且不得大於展覽總面積之三分之一。
                    商展之場所應設置緊急出入口及疏散路線圖，並標示疏散方向。
                </dd>


                <dt class="col-sm-2" style="text-align:center;">第10條</dt>
                <dd class="col-sm-10" style="text-align:left;">展覽物品之進 (出) 口，應依進 (出) 口相關規定辦理。</dd>


                <dt class="col-sm-2" style="text-align:center;">第11條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    主辦單位及參展廠商，應遵守公共安全、交通、建設、環保、衛生、稅捐
                    、農政等有關規定，並由有關機關監督之。
                </dd>


                <dt class="col-sm-2" style="text-align:center;">第12條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    主辦單位或展出代理人應於商展結束之日起三十日內，檢具工作報告及經
                    費收支決算書，報請展出地主管機關備查。
                    以第五條第二款及第四款為主辦單位者，前項書表並應副知各該法人之主
                    管機關。
                </dd>


                <dt class="col-sm-2" style="text-align:center;">第13條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    未經核准而舉辦商展，或未經報准而變更展出者，展出地主管機關應會同
                    相關單位依各該主管法令處理。
                </dd>


                <dt class="col-sm-2" style="text-align:center;">第14條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    本辦法自發布日施行。
                    本辦法中華民國八十八年六月二十九日修正條文自中華民國八十八年七月
                    一日施行。
                </dd>
            </dl>
        </div>
        

        <div style="text-align:center;"><h5>會場規定</h5></div>

        <hr style="border-top:1px solid #D9B3B3;width:60%" />

        <div class="d-flex justify-content-center" style="color:#757575">
            <dl class="row container-Policy p-3">
                <dt class="col-sm-2" style="text-align:center;">第1條</dt>
                <dd class="col-sm-10" style="text-align:left;">為規範商品之展覽，特訂定本辦法。</dd>

                <dt class="col-sm-2" style="text-align:center;">第2條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    凡在中華民國舉辦商展者，應依本辦法之規定辦理，本辦法未規定者，依
                    其他法令之規定。
                </dd>

                <dt class="col-sm-2" style="text-align:center;">第3條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    本辦法之主管機關，在中央為經濟部；在直轄市為建設局；在縣 (市) 為
                    縣 (市) 政府。
                </dd>

                <dt class="col-sm-2" style="text-align:center;">第4條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    本辦法所稱商展，係指有關農、礦、工、商各項商品或其資料之展覽。
                </dd>

                <dt class="col-sm-2" style="text-align:center;">第5條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    商展之主辦單位，除我國政府機關外，以合於左列規定之一者為限：
                    一、實收資本額合計達新台幣三千萬元以上之營利事業。
                    二、依工業團體法、商業團體法成立之法人。
                    三、依農會法、漁會法、合作社法成立之農民團體。
                    四、經政府許可設立，以商品之展覽與推廣為目的之公益法人。
                    五、外國政府機關、外國駐華使領館或代表處，依據外國法令成立之法人
                </dd>

                <dt class="col-sm-2" style="text-align:center;">第6條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    商展之主辦單位，應於展覽開始籌備前備具申請書及左列書件向展出地之
                    直轄市或縣 (市) 主管機關申請核准：
                    一、以前條第一款之營利事業為主辦單位者，應檢附公司執照、營利事業
                    登記證及最近一年之營業稅繳納收據影本或其他業績證明文件。
                    二、以前條第二款之工商業團體或第三款之農民團體為主辦單位者，應檢
                    附許可設立文件之影本。
                    三、以前條第五款之外國法人為主辦單位者，應檢附其設立及業務證明文
                    件影本，並經我駐外使領館或政府駐外代表機關驗證。
                    四、科學工業園區域或加工出口區廠商，在區外舉辦商展者，應檢附各該
                    管理局 (處) 同意文件。
                    五、使用他人土地或建築物為展場者，應檢附使用同意書。
                    第一項第三款所附之證明文件如為外文者，應附中文譯本。
                    展出係委託代理人辦理者，應加具代理之委託書，代理人並須符合前條第
                    一款規定。
                    商展經核准舉辦後，主辦單位如欲變更展出計畫，應報請原核准機關同意
                    。
                    前條第四款之公益法人，其章程訂明經常舉辦商展者，得經展出地主管機
                    關專案核准後，免依第一項規定提出申請，但應檢附許可設立文件影本並
                    將年度展出計畫報請展出地主管機關核備。
                    申請書格式由中央主管機關定之。
                </dd>

                <dt class="col-sm-2" style="text-align:center;">第7條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    主管機關對於商展之申請，得邀集有關機關共同審核；除認為不符合國家
                    經濟發展效益及公共政策者外，應予核准。
                    前項核准文件副本應抄送各有關警政、交通、建設、環保、衛生、稅捐、
                    關務、工務、社政、農政等機關及展出場地之所有權人或管理人。
                </dd>

                <dt class="col-sm-2" style="text-align:center;">第8條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    大陸地區物品除得於臺灣地區舉辦之國際商展中展覽外，不得在一般商展
                    場所展售，違者得隨時勒令中止商展之進行，並依法處理該項展品。
                </dd>


                <dt class="col-sm-2" style="text-align:center;">第9條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    商展應以商品之展示為主，設有零售攤位者，其零售區應與展示區分開，
                    且不得大於展覽總面積之三分之一。
                    商展之場所應設置緊急出入口及疏散路線圖，並標示疏散方向。
                </dd>


                <dt class="col-sm-2" style="text-align:center;">第10條</dt>
                <dd class="col-sm-10" style="text-align:left;">展覽物品之進 (出) 口，應依進 (出) 口相關規定辦理。</dd>


                <dt class="col-sm-2" style="text-align:center;">第11條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    主辦單位及參展廠商，應遵守公共安全、交通、建設、環保、衛生、稅捐
                    、農政等有關規定，並由有關機關監督之。
                </dd>


                <dt class="col-sm-2" style="text-align:center;">第12條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    主辦單位或展出代理人應於商展結束之日起三十日內，檢具工作報告及經
                    費收支決算書，報請展出地主管機關備查。
                    以第五條第二款及第四款為主辦單位者，前項書表並應副知各該法人之主
                    管機關。
                </dd>


                <dt class="col-sm-2" style="text-align:center;">第13條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    未經核准而舉辦商展，或未經報准而變更展出者，展出地主管機關應會同
                    相關單位依各該主管法令處理。
                </dd>


                <dt class="col-sm-2" style="text-align:center;">第14條</dt>
                <dd class="col-sm-10" style="text-align:left;">
                    本辦法自發布日施行。
                    本辦法中華民國八十八年六月二十九日修正條文自中華民國八十八年七月
                    一日施行。
                </dd>
            </dl>
        </div>

    </div>
    @*<partial name="_MFooterView" />*@
    @section Scripts{
    <script src="~/js/mfnPolicy.js" asp-append-version="true"></script>
    <script>
    $('#out').click(function() {
            sessionStorage.clear();
        })
    </script>
    }


