@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Style{
        <link rel="stylesheet" href="~/css/MNFstyleIndex.css" asp-append-version="true" />
}
    <div class="container p-0" style="margin-top:10%">
        <div class="row">
            <div class="col-lg-12 mt-5 mt-lg-0">
                <div class="tabCommon">
                    <div class="tab-content d-flex my-3" id="myTabContent">
                        <div class="col-lg-5">
                            <div class="about-img">
                                <img class="img-fluid" src="images/company/about.jpg">
                            </div>
                        </div>
                        <div class="col-lg-7 mt-5 mt-lg-0">
                            <div class="pl-0 pl-lg-4">
                                <div class="d-flex justify-content-between align-items-center px-2 my-1">
                                    <h3 class="m-0">申請編號</h3>
                                    <h3 class="m-0">No.3<span class="badge badge-success mx-2">Pass</span></h3>
                                </div>
                                <div class="py-3">
                                    <h2>展覽名稱稱稱稱稱</h2>
                                    <p class="text-left">2022 / 05 / 30 - 2022 / 06 / 30</p>
                                </div>
                                <div class="text-right">
                                    <p>入場時間：AM0830</p>
                                    <p>入場入口：A區13</p>
                                    <p>攤位編號：A15</p>
                                    <a href="" class="btn btn-small my-2">電子通行證</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content d-flex my-3" id="myTabContent">
                        <div class="col-lg-5">
                            <div class="about-img">
                                <img class="img-fluid" src="images/company/about.jpg">
                            </div>
                        </div>
                        <div class="col-lg-7 mt-5 mt-lg-0">
                            <div class="pl-0 pl-lg-4">
                                <div class="d-flex justify-content-between align-items-center px-2 my-1">
                                    <h3 class="m-0">申請編號</h3>
                                    <h3 class="m-0">No.3<span class="badge badge-danger mx-2">Fail</span></h3>
                                </div>
                                <div class="py-3">
                                    <h2>展覽名稱稱稱稱稱</h2>
                                    <p class="text-left">2022 / 05 / 30 - 2022 / 06 / 30</p>
                                </div>
                                <div class="">
                                    <h4 class="py-5 text-danger">資料提供不全</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content d-flex my-3" id="myTabContent">
                        <div class="col-lg-5">
                            <div class="about-img">
                                <img class="img-fluid" src="images/company/about.jpg">
                            </div>
                        </div>
                        <div class="col-lg-7 mt-5 mt-lg-0">
                            <div class="pl-0 pl-lg-4">
                                <div class="d-flex justify-content-between align-items-center px-2 my-1">
                                    <h3 class="m-0">申請編號</h3>
                                    <h3 class="m-0">No.3<span class="badge badge-warning mx-2">尚未付款</span></h3>
                                </div>
                                <div class="py-3">
                                    <h2>展覽名稱稱稱稱稱</h2>
                                    <p class="text-left">2022 / 05 / 30 - 2022 / 06 / 30</p>
                                </div>
                                <div class="d-flex justify-content-around">
                                    <div class="w-50">
                                        <p class="m-0">轉帳日期時間</p>
                                        <input name=" user_email" type="datetime-local" class="form-control w-75 h-25"
                                            placeholder="轉帳日期時間">
                                        <p class="m-0">轉帳末五碼</p>
                                        <input name="user_email" type="text" class="form-control w-75 h-25"
                                            placeholder="">
                                    </div>
                                    <div class="align-self-end text-right">
                                        <a href="" class="btn btn-small my-2">提交</a>
                                        <p>將會依據提交時間進行對帳</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
       <script src="~/lib/slick-carousel/slick.min.js" asp-append-version="true"></script>

    <!-- filter -->
    <script src="~/lib/plugins/shuffle/shuffle.min.js"></script>
    <script src="~/lib/plugins/SyoTimer/jquery.syotimer.min.js"></script>
    <script src="~/js/MFNscriptIndex.js"></script>
}
















