@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Style{
    <link rel="stylesheet" href="~/css/GroupA.css" asp-append-version="true" />
}
    <partial name="_MNavbarView" />


    <h1 style="text-align:center;font-weight:bold;margin-top:48px;margin-bottom:48px">申請流程</h1>
    <div class="container mt-3" id="processItem">
        <ul>
            <li class="row">
                <div></div>
                <div class="d-flex justify-content-center">
                    <canvas id="canvas">
                    </canvas>
                </div>
            </li>
        </ul>
        <div class="row">
        </div>
        <div class="row">
        </div>

    </div>
    <partial name="_MFooterView" />
    @section Scripts{
    <script src="~/js/mnfProcess.js" asp-append-version="true"></script>
}
















