@model Fairy_project.Models.Exhibition;
@{
    ViewData["Title"] = "Privacy Policy";

}
@section Style
{
    <link rel="stylesheet" href="~/css/exhibitionDetil.css" asp-append-version="true" />
}
<section class="exhibition">
    <div class="exhibition_poster"><img src="https://images.unsplash.com/photo-1584448097764-374f81551427?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt=""></div>
    <div class="more">down</div>
    <div class="exhibition_info">
        <h3 class="exhibition_info_title">@Model.exhibitName</h3>
        @*<p class="exhibition_info_date">@Model.dateFrom</p>*@
        <hr
        @*<p>@Model.decription</p>*@
        <div class="exhibition_info_btn">
            <button class="btn btn_buy btn_cart"data-id="@Model.exhibitId">購票</button>
            @*用js寫*@
        </div>
    </div>
</section>
@*VM or Js*@
<div class="store-section">
    <h3 class="store_title">參展廠商</h3>
    <div class="card-content">
        <div class="cards">
            <div class="card store_cards_card border-0">
                <img src="https://images.unsplash.com/photo-1498804103079-a6351b050096?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">奕翔展</p>
                </div>
            </div>
            <div class="card store_cards_card border-0">
                <img src="https://images.unsplash.com/photo-1578763727915-a976fa77f8c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=938&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">奕翔展</p>
                </div>
            </div>
            <div class="card store_cards_card border-0">
                <img src="https://images.unsplash.com/photo-1531112868439-b6b658cfe48a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="card-img-top" alt="...>
                <div class=" card-body">
                    <p class="card-text">奕翔展</p>
                </div>
            </div>
        </div>
    </div>
</div>
@*VM or Js*@
<section class="recommend">
    <div class="left_container">
    </div>
    <div class="right_container">
        <h4 class="recommend_title">推薦展覽</h4>
        <div class="recommendMore"></div>
    </div>
</section>
<script src="~/js/site.js" asp-append-version="true"></script>
