<div class="col-lg-6 col-12">
    <div class="bg-secondary bg-opacity-25  h-100 rounded-3 py-3">
        <div class="h-25 w-100 justify-content-center align-items-center d-flex">
            <div class="w-75 h-75 bg-light rounded-pill my-3 mx-5 text-center">
                <h1 id="name" class="my-1">合展屋</h1>
            </div>
            <span class="h-50 badge bg-warning text-black fs-4 fw-light my-3 me-5">籌備</span>
        </div>
        <div class="h-25 w-100 justify-content-evenly align-items-center d-flex">
            <h3>已承租廠商數</h3>
            <h2 id="manufacturer" class="fw-bold">54</h2>
        </div>
        <div class="h-25 w-100 justify-content-evenly align-items-center d-flex">
            <h3>本日進場人數</h3>
            <h2 id="soldticket" class="fw-bold">@ViewBag.test</h2>
        </div>
        <div class="h-25 w-100 justify-content-evenly align-items-center d-flex">
            <button class="w-25 h-75 btn btn-dark fs-4">編輯詳細</button>
            <button class="w-25 h-75 btn btn-danger fs-4">刪除展覽</button>
        </div>
    </div>
</div>
<div class="col-lg-6 col-12 overflow-hidden bg1 rounded-3">
    <div id="columnchart_values" class="w-100"></div>
</div>
