@{
    Layout = "_LayoutB5";
}


@section Style{
    <link rel="stylesheet" href="~/css/TicketModal.css" asp-append-version="true" />
}
<div class="modal fade" id="QRcode_Modal" tabindex="-1" aria-labelledby="ropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="QRModal-title">Ex title</h5>
            </div>
            <div class="QRmodal-body" id="QR-body">
                <div id="QRcode"></div>
            </div>
            <div class="QRmodal-footer">
                <div class="ticket_date">
                    <p class="date">
                        <i class="fa-regular fa-calendar-days date-i"></i>
                        <span class="date-from date_span">2022/7/20></span>
                    </p>
                    <p><span class="date_span date_mid">~</span></p>
                    <p class="date">
                        <i class="fa-regular fa-calendar-days date-i"></i>
                        <span class="date-to date_span">2022/10/28></span>
                    </p>
                </div>
                <div class="qr_btn">
                    <button type="button" class="btn btn-secondary btn-qrmodal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="give_Modal" tabindex="-1" aria-labelledby="ropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ticket-title">送出票券</h5>
            </div>
            <div class="ticket-body" id="ticket-body">
                <form class="checkout-form">
                    <div class="form-group">
                        <label for="full_name">輸入贈送帳號</label>
                        <input type="text" class="form-control" id="full_name" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="user_address">輸入贈送</label>
                        <input type="text" class="form-control" id="give_modal_email" placeholder="">
                    </div>
                    <div class="checkout-country-code clearfix">
                        <div class="form-group">
                            <label for="user_post_code">Zip Code</label>
                            <input type="text" class="form-control" id="user_post_code" name="zipcode" value="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="ticket-footer">
                <button class="btn btn-secondary submit btn-main">Submit</button>
                <button type="button" class="btn btn-secondary btn-main" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<section class="mb-5 ticket_section">
    <div class="container">
        <div class="row ticket-content carousel-inner">
            
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


@section Scripts
    {
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script>const root = @Url.Content("~/images/")</script>
    <script src="~/js/memberTicket.js" asp-append-version="true"></script>
}

