@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Style{
    
        <link rel="stylesheet" href="~/css/GroupA.css" asp-append-version="true" />

}


    <div class="container">
        <div class="row rh"></div>
        <div class="row mb-3">
            <div class="col-3">
                @*我的票券+展覽名稱的圖示SVG*@
                <svg width="197" height="107" viewBox="0 0 197 107" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_91_11)">
                        <rect x="32" y="19.7273" width="151" height="8.72727" fill="#DDCFC2" />
                    </g>
                    <path d="M29.0505 22.0781C28.7797 23.401 28.3735 24.7448 27.8318 26.1094C27.3005 27.4635 26.811 28.2604 26.363 28.5C25.9255 28.7396 25.4724 28.8594 25.0037 28.8594C24.1807 28.8594 23.2693 28.2396 22.2693 27C21.2693 25.75 20.436 24.2865 19.7693 22.6094C17.9985 24.099 15.7589 25.4219 13.0505 26.5781L11.8943 25.1719C14.9776 23.9635 17.3995 22.5573 19.1599 20.9531C18.3891 17.7552 17.9412 14.4375 17.8162 11H10.2068V16.625C11.7589 16.4271 13.7953 15.9271 16.3162 15.125V16.8906C14.2745 17.4635 12.238 17.9531 10.2068 18.3594V26.5469C10.2068 27.099 10.0037 27.5729 9.59741 27.9688C9.19116 28.375 8.60262 28.5833 7.83179 28.5938H3.61304L3.12866 26.875C4.462 26.9375 5.97762 26.9688 7.67554 26.9688C8.24845 26.9688 8.53491 26.7031 8.53491 26.1719V18.75C5.78491 19.2812 3.47241 19.6719 1.59741 19.9219L1.17554 18.2344C2.68595 18.1302 5.13908 17.7448 8.53491 17.0781V11H0.988037V9.34375H8.53491V4.34375C5.20158 4.875 3.08179 5.17188 2.17554 5.23438L1.56616 3.64062C7.15991 3.08854 11.7693 2.18229 15.3943 0.921875L15.8943 2.42188C14.1755 2.99479 12.2797 3.50521 10.2068 3.95312V9.34375H17.7537C17.7328 8.41667 17.7224 7.38021 17.7224 6.23438C17.7224 4.14062 17.7537 2.25 17.8162 0.5625H19.488C19.4047 2.05208 19.363 3.78646 19.363 5.76562C19.363 7.04688 19.3839 8.23958 19.4255 9.34375H28.9568V11H19.5193C19.5818 13.8958 19.9203 16.7135 20.5349 19.4531C22.0141 17.9427 23.4776 15.724 24.9255 12.7969L26.363 13.6875C24.5297 17.0729 22.7797 19.625 21.113 21.3438C21.6235 22.8958 22.311 24.2604 23.1755 25.4375C24.0505 26.6042 24.686 27.1875 25.0818 27.1875C25.311 27.1875 25.5089 27.0573 25.6755 26.7969C25.8422 26.5365 26.1391 25.8385 26.5662 24.7031C27.0037 23.5573 27.3318 22.3698 27.5505 21.1406L29.0505 22.0781ZM27.3943 7L26.0193 7.98438C24.9047 6.06771 23.5245 4.35417 21.8787 2.84375L23.1599 1.8125C24.8787 3.40625 26.2901 5.13542 27.3943 7Z" fill="#3B3131" />
                    <path d="M44.1599 27.9844H42.5505V25.2344H35.6443V28.625H34.0193V5.9375H36.988C37.7901 4.51042 38.5505 2.67708 39.2693 0.4375L40.863 0.765625C40.488 1.89062 39.7641 3.61458 38.6912 5.9375H44.1599V27.9844ZM42.5505 14.4219V7.54688H35.6443V14.4219H42.5505ZM42.5505 23.6094V16.0312H35.6443V23.6094H42.5505ZM60.1912 5.96875C60.0662 10.7604 59.8318 15.2135 59.488 19.3281C59.1547 23.4427 58.8162 25.8646 58.4724 26.5938C58.1287 27.3229 57.686 27.8385 57.1443 28.1406C56.613 28.4531 55.5974 28.6094 54.0974 28.6094C53.4412 28.6094 52.5818 28.5938 51.5193 28.5625L51.0037 26.9375C51.8787 26.9688 52.8214 26.9844 53.8318 26.9844C54.7797 26.9844 55.3839 26.974 55.6443 26.9531C55.9151 26.9323 56.1964 26.8021 56.488 26.5625C56.7797 26.3125 56.988 26.026 57.113 25.7031C57.238 25.3698 57.4047 24.1406 57.613 22.0156C57.8214 19.8906 57.9932 17.5521 58.1287 15C58.2641 12.4375 58.363 9.95312 58.4255 7.54688H50.0818C48.9672 9.76562 47.6755 11.875 46.2068 13.875L44.8943 12.9531C47.6964 9.27604 49.6807 5.17708 50.8474 0.65625L52.4724 1.07812C51.9516 2.78646 51.3682 4.41667 50.7224 5.96875H60.1912ZM54.3005 20.3125L52.9568 21.2656C51.9255 18.8906 50.3787 16.4062 48.3162 13.8125L49.6912 12.9219C51.6078 15.2344 53.1443 17.6979 54.3005 20.3125Z" fill="#3B3131" />
                    <path d="M92.988 3.03125H83.488V5.5H90.8474V11.9219H67.363V5.5H74.6599V3.03125H65.113V1.4375H92.988V3.03125ZM81.8787 5.5V3.03125H76.2849V5.5H81.8787ZM89.2537 10.2969V7.09375H83.488V10.2969H89.2537ZM81.8787 10.2969V7.09375H76.2849V10.2969H81.8787ZM74.6599 10.2969V7.09375H68.988V10.2969H74.6599ZM90.8162 15.7656H67.3318V14.2031H90.8162V15.7656ZM92.738 19.9219H79.863V28.7344H78.238V19.9219H65.3474V18.3594H92.738V19.9219ZM92.863 26.7188L91.613 27.8594C89.436 26.2135 86.6651 24.5417 83.3005 22.8438L84.4099 21.5C87.4932 23.0521 90.311 24.7917 92.863 26.7188ZM74.6912 22.6094C71.8995 24.8177 69.0818 26.5469 66.238 27.7969L64.8943 26.4219C67.5922 25.401 70.4099 23.7604 73.3474 21.5L74.6912 22.6094Z" fill="#3B3131" />
                    <path d="M124.769 18.6875L123.644 20.0312C119.978 18.4375 117.024 16.2604 114.785 13.5H107.097C104.983 16.1771 101.957 18.4583 98.0193 20.3438L97.0193 19C100.321 17.4896 102.967 15.6562 104.957 13.5H97.5974V11.9844H106.207C106.905 11.099 107.535 9.95833 108.097 8.5625H99.3005V7H108.801C109.592 4.9375 110.202 2.88021 110.629 0.828125H112.347C111.702 3.48438 111.103 5.54167 110.551 7H122.847V8.5625H109.957C109.155 10.2083 108.556 11.349 108.16 11.9844H124.535V13.5H116.926C119.04 15.6146 121.655 17.3438 124.769 18.6875ZM105.691 5.26562L104.222 6.07812C103.535 4.88021 102.509 3.59896 101.144 2.23438L102.66 1.40625C104.129 2.79167 105.139 4.07812 105.691 5.26562ZM120.613 2.32812C119.801 3.45312 118.571 4.73438 116.926 6.17188L115.519 5.20312C117.113 3.85938 118.316 2.63542 119.129 1.53125L120.613 2.32812ZM118.394 17.6562C118.426 20.2708 118.301 22.4167 118.019 24.0938C117.738 25.7708 117.389 26.849 116.972 27.3281C116.566 27.8073 116.071 28.151 115.488 28.3594C114.915 28.5677 113.806 28.6719 112.16 28.6719C111.587 28.6719 111.077 28.6562 110.629 28.625L110.176 27.0312C111.092 27.0729 111.957 27.0938 112.769 27.0938C113.967 27.0938 114.722 27.0208 115.035 26.875C115.347 26.7188 115.608 26.4583 115.816 26.0938C116.035 25.7188 116.233 24.875 116.41 23.5625C116.597 22.25 116.707 20.7812 116.738 19.1562H110.519C108.988 23.9167 105.597 27.1198 100.347 28.7656L99.3943 27.3906C101.728 26.724 103.743 25.651 105.441 24.1719C107.139 22.6823 108.248 21.0104 108.769 19.1562H103.769V17.6562H118.394Z" fill="#3B3131" />
                    <rect x="51.8203" y="95" width="145.18" height="12" fill="#DDCFC2" />
                    <path d="M65.0236 90.3848H50.2306V97.5762C52.0079 97.2845 53.8126 96.8288 55.6447 96.209L55.7267 97.5215C53.5118 98.278 51.1785 98.9115 48.7267 99.4219L48.2755 98.0273C48.6128 97.763 48.7814 97.4941 48.7814 97.2207V90.3848H45.049C44.3836 94.4043 43.3764 97.4577 42.0275 99.5449L40.879 98.5332C42.9207 95.2064 43.9415 90.6992 43.9415 85.0117V75.5781H63.5333V81.6211H45.3907V84.5605H50.6271V82.6328H52.1447V84.5605H58.1603V82.6328H59.6779V84.5605H63.8478V85.9277H59.6779V89.0176H65.0236V90.3848ZM61.9884 80.1855V76.9727H45.3907V80.1855H61.9884ZM58.1603 89.0176V85.9277H52.1447V89.0176H58.1603ZM50.6271 89.0176V85.9277H45.3634C45.3634 86.9212 45.2996 87.9512 45.172 89.0176H50.6271ZM66.4454 98.1367L65.7482 99.5176C61.993 98.5423 59.3224 97.3711 57.7365 96.0039C56.1596 94.6367 55.0294 93.2467 54.3458 91.834L55.7814 91.4512C56.6473 92.873 57.6088 94.0215 58.6661 94.8965C60.006 94.0488 61.2365 92.946 62.3575 91.5879L63.5333 92.4902C62.4851 93.7572 61.3003 94.8464 59.9786 95.7578C61.6101 96.7604 63.7657 97.5534 66.4454 98.1367Z" fill="#3B3131" />
                    <path d="M93.1603 77.6152H84.1779C83.4305 78.709 82.7742 79.5384 82.2091 80.1035L81.0333 79.4062C82.3732 78.0938 83.4487 76.5716 84.2599 74.8398L85.4357 75.291C85.299 75.6009 85.103 75.9928 84.8478 76.4668H93.1603V77.6152ZM81.4025 76.7539H77.1779V78.3125H80.4454V82.127H77.1779V83.8906H81.1974V85.0391H70.7931V75.6055H81.4025V76.7539ZM75.879 78.3125V76.7539H72.215V78.3125H75.879ZM79.1603 81.0059V79.4062H72.215V81.0059H79.1603ZM75.879 83.8906V82.127H72.215V83.8906H75.879ZM91.9572 79.9121H84.424V78.8184H91.9572V79.9121ZM92.545 85.0938H82.3732V81.0879H92.545V85.0938ZM91.2872 84.0547V82.1543H89.5782V84.0547H91.2872ZM88.4298 84.0547V82.1543H86.5841V84.0547H88.4298ZM85.4357 84.0547V82.1543H83.6173V84.0547H85.4357ZM93.379 95.0059C93.1694 96.7741 92.9233 97.8587 92.6407 98.2598C92.3673 98.6608 92.0392 98.9297 91.6564 99.0664C91.2827 99.2031 89.9975 99.2715 87.8009 99.2715C86.2241 99.2715 85.226 99.2259 84.8068 99.1348C84.3875 99.0527 84.0275 98.8385 83.7267 98.4922C83.4259 98.1458 83.2755 97.6947 83.2755 97.1387V95.1426H79.8302C79.5203 96.0632 79.0782 96.8242 78.504 97.4258C77.9389 98.0273 76.8816 98.5013 75.3322 98.8477C73.7827 99.194 72.0053 99.3854 70.0001 99.4219L69.4943 98.1641C72.1193 98.1276 74.1746 97.8952 75.6603 97.4668C77.1551 97.0293 78.0711 96.2546 78.4083 95.1426H74.17V86.4609H89.1271V95.1426H84.67V97.1934C84.67 97.4941 84.8387 97.7038 85.1759 97.8223C85.5131 97.9316 86.5112 97.9863 88.17 97.9863C89.7104 97.9863 90.631 97.9453 90.9318 97.8633C91.2417 97.7812 91.4878 97.5215 91.67 97.084C91.8615 96.6465 91.9936 95.8125 92.0665 94.582L93.379 95.0059ZM87.7052 88.9902V87.6094H75.5509V88.9902H87.7052ZM87.7052 91.4785V90.0977H75.5509V91.4785H87.7052ZM87.7325 93.9941V92.5996H75.5509V93.9941H87.7325Z" fill="#3B3131" />
                    <path d="M120.012 99.4219H118.522V97.6035H105.287V99.4492H103.742V89.7422C101.573 90.5352 99.7911 91.1322 98.3966 91.5332L97.549 90.166C101.933 88.9811 105.67 87.5501 108.76 85.873C107.639 84.2598 106.089 82.61 104.111 80.9238C102.699 81.8444 101.122 82.7467 99.381 83.6309L98.1779 82.4277C102.398 80.6139 105.934 78.0573 108.787 74.7578L110.236 75.4277C109.835 75.9199 109.325 76.4622 108.705 77.0547H119.588V78.2852C116.553 82.3685 112.456 85.6908 107.297 88.252H120.012V99.4219ZM117.401 78.5723H107.188C106.559 79.11 105.934 79.6113 105.315 80.0762C107.137 81.6986 108.723 83.362 110.072 85.0664C113.026 83.1888 115.468 81.0241 117.401 78.5723ZM118.522 96.1543V89.7422H105.287V96.1543H118.522Z" fill="#3B3131" />
                    <path d="M148.736 76.2207C145.255 77.3418 140.802 77.9023 135.379 77.9023L134.901 76.4941C140.16 76.5853 144.512 76.084 147.957 74.9902L148.736 76.2207ZM134.436 87.4453L133.697 88.6211C132.777 87.6732 131.788 86.7845 130.731 85.9551V99.3398H129.309V86.2695C128.388 88.5755 127.381 90.6172 126.287 92.3945L125.303 91.1641C126.834 88.8307 128.142 86.1647 129.227 83.166H125.494V81.7852H129.309V77.5605C128.014 77.8158 126.884 77.9935 125.918 78.0938L125.549 76.7812C128.666 76.4258 131.291 75.8379 133.424 75.0176L133.984 76.2754C132.572 76.7767 131.487 77.1003 130.731 77.2461V81.7852H134.381V83.166H130.731V84.3145C131.833 85.0345 133.068 86.0781 134.436 87.4453ZM149.133 78.7637C148.568 80.3132 147.848 81.694 146.973 82.9062L145.66 82.1816C146.462 81.2064 147.192 79.8893 147.848 78.2305L149.133 78.7637ZM143.022 81.6758L141.654 82.1543C141.381 81.0241 140.989 80.026 140.479 79.1602L141.764 78.5723C142.302 79.5475 142.721 80.582 143.022 81.6758ZM138.236 82.5508L137.006 83.2207C136.55 81.9264 135.944 80.6914 135.188 79.5156L136.336 78.8184C137.229 80.1309 137.863 81.375 138.236 82.5508ZM149.776 94.2539H147.588V97.4121C147.588 98.1595 147.369 98.6836 146.932 98.9844C146.503 99.2852 145.797 99.4355 144.813 99.4355C144.32 99.4355 143.792 99.4128 143.227 99.3672L142.721 97.918C144.061 97.9544 144.936 97.9727 145.346 97.9727C145.893 97.9727 146.166 97.6628 146.166 97.043V94.2539H136.924V99.3125H135.557V94.2539H132.973V92.873H135.557V84.3418H140.82V82.6602H142.242V84.3418H147.588V92.873H149.776V94.2539ZM146.166 88.5938V85.6543H142.242V88.5938H146.166ZM140.82 88.5938V85.6543H136.924V88.5938H140.82ZM146.166 92.873V89.9062H142.242V92.873H146.166ZM140.82 92.873V89.9062H136.924V92.873H140.82Z" fill="#3B3131" />
                    <defs>
                        <filter id="filter0_d_91_11" x="28" y="19.7273" width="159" height="16.7273" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="4" />
                            <feGaussianBlur stdDeviation="2" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_91_11" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_91_11" result="shape" />
                        </filter>
                    </defs>
                </svg>

            </div>

        </div>



        <div class="row">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <button class="prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <i class="fa-solid fa-angle-left fa-4x"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
            </div>
            <div class="col-8">
                <div id="carouselExampleIndicators" class="carousel slide" bs-data-wrap="false">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">







                        <div class="carousel-item active">
                            <div class=" d-flex">
                                <div class="btn-group-vertical">
                                    <button type="button" class="btn-size-top">QRCODE</button>
                                    <div style="background-color:#DDCFC2 ;width:196px;height:4px;"></div>
                                    <button type="button" class="btn-size-bottom">分票</button>

                                </div>
                                <img src="~/images/111.png" class="d-block w-100-h-setting" alt="...">
                            </div>
                        </div>


                        <div class="carousel-item">
                            <div class=" d-flex">
                                <div class="btn-group-vertical">
                                    <button type="button" class="btn-size-top">QRCODE</button>
                                    <div style="background-color:#DDCFC2 ;width:196px;height:4px;"></div>
                                    <button type="button" class="btn-size-bottom">分票</button>

                                </div>
                                <img src="~/images/222.png" class="d-block w-100-h-setting" alt="...">
                            </div>
                        </div>


                        <div class="carousel-item ">
                            <div class=" d-flex">
                                <div class="btn-group-vertical">



                                    <button type="button" class="btn-size-top">QRCODE</button>
                                    <div style="background-color:#DDCFC2 ;width:196px;height:4px;"></div>
                                    <button type="button" class="btn-size-bottom">分票</button>

                                </div>
                                <img src="~/images/333.png" class="d-block w-100-h-setting" alt="...">
                            </div>
                        </div>


                        <div class="carousel-item ">
                            <div class=" d-flex">
                                <div class="btn-group-vertical">
                                    <button type="button" class="btn-size-top">QRCODE</button>
                                    <div style="background-color:#DDCFC2 ;width:196px;height:4px;"></div>
                                    <button type="button" class="btn-size-bottom">分票</button>

                                </div>
                                <img src="~/images/444.png" class="d-block w-100-h-setting" alt="...">
                            </div>
                        </div>


                        <div class="carousel-item ">
                            <div class=" d-flex">
                                <div class="btn-group-vertical">
                                    <button type="button" class="btn-size-top">QRCODE</button>
                                    <div style="background-color:#DDCFC2 ;width:196px;height:4px;"></div>
                                    <button type="button" class="btn-size-bottom">分票</button>

                                </div>
                                <img src="~/images/555.png" class="d-block w-100-h-setting" alt="...">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <button class="next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <i class="fa-solid fa-angle-right fa-4x"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


        </div>



    </div>


    @section Scripts
    {

}

